@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Josefin+Sans&family=Quicksand:wght@300;500;700&display=swap');

.side-bar{
    width: 20vw;
    height: 100vh;
    background-color: #FFE459;
    position: fixed;
}

.side-bar__link{
    width: 20vw;
    height: 20vw;
    margin-left: 1vw
}

.side-bar__logo{
    margin-top: 10px;
    width: 17vw;
}
.side-bar__list{
    margin-top: 5vh;
    list-style: none;
    color: #ffffff;
}
.side-bar-item{
    margin-bottom: 5vh;
}
.side-barlink{
    font-family: 'Cabin', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #835d3b;
}
.side-barlink:hover{
    color: #494848;
    text-decoration:underline 5px #979696;
}

@media (max-width: 630px) {
    .side-bar{
        width: 25vw;
    }
    .side-bar__list{
        font-size: 10px;
        margin-left: -7vw;
    }
    .side-bar__link{
        margin-left: 3vw
    }
    .side-bar__logo{
        margin-top: 20px;
        width: 17vw;
    }

}