<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <section class="main-error">

            <% if (locals.err) { %>
                <img src="/img/error-500.png" alt="">
                <div class="main-error__container">
                    <h3>Volver a la página de inicio</h3>
                    <a href="/"><button>Inicio</button></a>
                </div>
                <% } else { %>
                    <img src="/img/error-404.jpg" alt="">
                <div class="main-error__container">
                    <h3>La pagina a la que intenta ingresar no existe, compruebe su URL</h3>
                    <a href="/"><button>Inicio</button></a>
                </div>
                <% } %>

        </section>

    </body>

</html>