<!DOCTYPE html>
<html lang="es">
<!--Head-->
<%- include('../partials/head') %>

    <body>
        <!--Header-->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>
            <main class="productCreation">
                <article class="form">
                    
                </article>
            </main>
        <!--Footer-->
        <%- include('../partials/footer') %>

    </body>

</html>