<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>
                <!-- Main Product Cart -->
                <main class="productCart">
                    <section class="bar-menu">
                        <h3 class="menu">Resumen Pedido</h3>
                    </section>

                    <section class="products-resume">
                        <h2>Todavía no hay productos agregados</h2>
                          <!-- <div class="product-only">
                            <img src="./img/Products/burger-featured-2.png" alt="">
                            <div class="product-only-n">
                                <p class="only-name">Red Pepper</p>
                                <p class="only-price">$11.900</p>
                                <p class="only-delete">Eliminar</p>
                            </div>
                        </div> -->
                    </section>

                    <div class="total__cart">
                        <!-- <section class="total">
                             <div class="subtotal">
                            <p class="title">Subtotal</p>
                            <p class="same">11.900</p>
                        </div>
                        <div class="delivery">
                            <p class="title">Domicilio</p>
                            <p class="same">4.000</p>
                        </div>
                        <div class="total-include">
                            <p class="title">TOTAL</p>
                            <p class="same">15.900</p>
                        </div> 
                        
                        <div class="continue">
                            <p>realizar pedido</p>
                        </div> 
                        </section> -->
                    </div>
                    <div class="cart__button">
                        <form class="cart__form" action="/" method="get">
                            <input class="cart__form--button" type="submit" value="Enviar pedido">
                        </form>
                    </div>
                </main>

                <!--Footer-->
                <%- include('../partials/footer') %>
                    <script src="/js/productCart.js"></script>
    </body>

</html>