@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* INDEX.html//////////////////////////////////////////////////////////////////////////////////////////////////////// */
img{
    width: 100%;
}
/* Header*/

.header{
    height: 60px;
    background-color: #FFE459;
    color: #835D3B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__burgermenu{
    margin-left: 1.5rem;
    height: 35px;
    width: 35px;
    border: 1px solid #835D3B;
    border-radius: 25%;
    text-align: center;
}
.header__burgermenu i{
    font-size: 23px;
    line-height: 35px;
}
.header__logo{
    height: 50px;
    width: 50px;
}
.header__shoppingcart{
    height: 35px;
    width: 35px;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__shoppingcart p{
     margin-left: 5px;
}
.header__shoppingcart i{
    font-size: 14px;
    color: #835D3B;
}

.header__login, .header__snetwork{
    display: none;
}


/* Nav */

.nav{
    padding-left: 15px;
    height: 30px;
    font-size: 0.5em;
    background-color: #E04A01;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .nav__list{
     display: flex;
     margin: auto;
     justify-content: space-evenly;
     text-align: center;
     width: 100%;
 }
.nav__list li{
    width: 25%;
    list-style: none;
}
.nav__list li a{
    text-decoration: none;
    color: #000000;
}

@media (min-width: 320px) {
    .nav{
        font-size: 0.8em;
        font-weight: 600;
    }
}

@media (min-width: 630px) {
    .header{
        justify-content: space-evenly;
    }
    .header__burgermenu{
        display: none;
    }
    .header__login {
        display: block;
        margin-left: 150px;
        margin-right: 80px;
    }
    .header__login a {
        color: #835D3B;;
        text-decoration: none;
    }
    .header__snetwork {
        display: block;
        color: #000000;
    }
    .header__snetwork a {
        color: #000000;
        text-decoration: none;
        color: #835D3B;
    }
    .nav{
        font-size: 15px;
        font-weight: 600;

    }
}

/* Main Home */
.main{
    /* outline: 1px solid black;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 2vh;
    width: 100%;
}
.main__carousel{
    margin-top: 2vh;
    width: 94vw;
}
.main__carousel .main__carousel--pcimg1{
    display: none;
}
.main__featured{
    margin-top: 4vh;
    width: 94vw;
}
.main__featured-container--tittle{
    display: none;
}
.main__featured-article{
    margin-bottom: 20px;
}
.main__featured-article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    flex-grow: 2;
}

.main-login__form--container{
    margin-top: 5px;
}
.main-login__form--container button{
    width: 100%;
    height: 30px;
    color: #403429;
    background-color: #FFCFA5;
    border: 2px solid #E8B78B;
    border-radius: 6px;
}
.main-login__form--container button p{
    font-size: 14px;
}

aside{
    display: none;
    background-color: #E04A01;
    border-radius: 6px;
    width: 20%;
}

@media (min-width: 630px){
    .main__carousel{
        margin-top: 0;
        width: 100vw;
        height: 36vw;
        object-fit: scale-down;
    }
    .main__carousel .main__carousel--pcimg1{
        display: block;
    }
    .main__carousel .main__carousel--img1{
        display: none;
    }
    .main__carousel .main__carousel--pcimg1{
        width: 100%;
        height: auto;
      }
      @supports(object-fit: cover){
        .main__carousel .main__carousel--pcimg1{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
      }
      .main__featured{
          width: 96.5vw;
          display: flex;
      }

      .main__featured-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            background-color: #FFE459;
            border-radius: 6px;
      }
    .main__featured-container--tittle{
        display: block;
        width: 100%;
        margin: 2vw;
    }
      .main__featured-article{
          width: 31%;
          margin-right: 1%;
          margin-left: 1%;
      }
      aside{
          margin-left: 1%;
          display: block;
      }

      aside h3{
        width: 100%;
        margin: 2vw;
        
    }


}
/* Footer*/
.footer{
    background-color:#B9CC33;
    width: 100%;
    height: 340px;
    font-size: 0.7em;
}
.footer__top{
    width: 100%;
    height: 20px;
}
.footer__logo{
    height: 80px;
    width: 80px;

    margin-left: 3%;
    margin-bottom: 10px;
}
.footer__connections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
}
.footer__connections h3{
    color: #835D3B;
}
.footer__connections li{
    list-style: none;
}
.footer__connections li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
}
.footer__connections--brand{
    width: 50%;
}
.footer__connections--cities{
    width: 50%;
    padding-left: 5%;
}
.footer__connections--legal{
    width: 100%;
}

.footer__social{
    margin-top: 45px;
    margin-left: 5%;
    width: 80%;
    height: 30px;
    color: white;
    font-size: larger;
    display: flex;
    position: relative;
    bottom: 20px;
}
.footer__social a {
    margin-left: 15px;
    color: #000000;
}

@media (min-width: 337px) {
    .footer {
        font-size: 1em;
    }
}

@media (min-width: 630px) {
    .footer {
        position: relative;
    }
    .footer__top {
        display: none;
    }
    .footer__logo {
        width: 150px;
    }
    .footer__logo a img {
        margin-top: 40px;
        margin-left: 20px;
    }
    .footer__connections {
        padding-left: 15%;
        position: relative;
        bottom: 50px;
        flex-wrap: nowrap;
    }
    .footer__connections ul li {
        font-weight: 100;
        font-size: 0.9em;
    }
    .footer__connections--brand{
        width: 20%;
        margin-left: 150px;
    }
    .footer__connections--cities{
        width: 25%;
        margin-right: 70px;
    }
    .footer__connections--legal{
        width: 20%;
    }
    .footer__social p{
        font-weight: 100;
    }
}

@media (min-width: 756px) {
    .footer__social {
        margin-top: 80px;
    }
}


/* Login ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.login {
    text-align: center;
    background-color: #949973;
    padding: 5% 0;
}
.login article {
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: #a8a69c;
    border-radius: 3%;
    box-shadow: 3px 3px 13px 2px rgba(0,0,0,0.81);    
}
.login__title {
    text-align: center;
    padding-top: 20px;
    
}
.login__form {
    text-align: center;
    margin: auto;
    padding: 20px;
}
.login__form h2 {
    font-size: 0.9em;
}

.login__form--text {
    width: 30vw;
    margin: auto;
}
.login--recover {
    margin-right: 30%;
    margin-bottom: 3%;
}
.login--recover a {
    text-decoration: none;
    color: #090635;
}
.login--button {
    width: 30vw;
    margin-bottom: 50px;
}

@media (min-width: 346px) {
    .login--recover {
        margin-left: 10%;
    }
}
@media (min-width: 700px) {
    .login article {
        max-width: 500px;
        
    }
    .login__form h2 {
        font-size: 1.1em;
    }
    .login__form--text {
        max-width: 500px;
    }
    .login--recover {
        margin-left: 0;
        margin-right: 20%;
    }
    .login--button {
        max-width: 180px;
    }
    .login__form--button a {
        margin-left: 10%
    }
}

/* Register */
.register {
    text-align: center;
    background-color: #949973;
    padding: 3% 0;
}
.register .form{
    width: 50%;
    margin: auto;
    background-color: #a8a69c;
    border-radius: 3%;
    box-shadow: 3px 3px 13px 2px rgba(0,0,0,0.81);  
}

.register__title {
    padding-top: 20px;
    font-size: 0.8em;
}
.register__form {
    padding: 20px;
}

.register__form--button {
    width: 20vw;
}

.register__form select,
.register__form--text {
    width: 30vw;
}

.register__form--radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.register__form--radio p {
    font-size: 0.5em;
}
@media (min-width: 420px) {
    .register__form--radio p {
        font-size: 0.6em;
    }
}
@media (min-width: 700px) {
    .register .form{
        max-width: 500px; 
    }
    .register__title {
        font-size: 1.1em;
    }
    .register__form--select, .register__form--text,
    .register__form--button {
        max-width: 500px;
    }
    .register__form--radio {
        padding: 8px;
    }
    .register__form--radio p {
        font-size: 0.9em;
    }
}


 /* ProductCart.html/////////////////////////////////////////////////////////////////////////////////////////////// */
.productCart{
    background-color: #949973;
    padding-bottom: 30px;
}

.productCart section{
    background-color: #ffffff;
}

 .productCart .bar-menu{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #949973;
}

.productCart .products-resume{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    border: 2px solid #000000;
}

.productCart .total{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    padding-left: 5%;
    border: 2px solid #000000;
}

.productCart .products-resume div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productCart .products-resume div img{
    width: 8em;
    margin: 15px;
}

.productCart .products-resume div .product-only-n{
    flex-direction: column;
    justify-items: flex-start;
    width: 50%;
    padding: 10px 0px;
}

.productCart .total div .title{
    height: 80%;
    padding: 5px;
}
.productCart .total div .same{
    width: 70%;
    text-align: center;
    padding: 5px;
}

.productCart .total .continue p{
    
    text-align: center;
    background-color: #FFCFA5;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    height: 50%;
    padding: 5px;
}

@media screen and (min-width: 481px){
    .productCart .products-resume{
        width: 70%;
        height: 50%;
        margin:auto;
        margin-top: 25px;
        padding: 20px;
    }

    .productCart .total{
        width: 70%;
        height: 50%;
        margin:auto;
        margin-top: 25px;
    }
}

  /* ProductDetail.html///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .productDetail .products .product-menu div .product-n .product-add a{
      text-decoration: none;
      color: black;
  }

  .productDetail{
      background-color: #949973;
      padding-top: 10px;
  }
  .productDetail .products{
      display: flex;
      width: 80%;
      margin: auto;
  }

  .productDetail .products .product-menu{
      padding: 15px
  }

  .productDetail .products .product-menu div .product-n{
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: center;
      padding-top: 7px;
  }

  .productDetail .products .product-menu div .product-n .product-price{
        width: 50%;
        border: 1px solid #FFCFA5;
        background-color: #FFCFA5;
        border-right: 1px solid #949973;
        text-align: center;
  }

  .productDetail .products .product-menu div .product-n .product-add{
        width: 50%;
        border: 1px solid #FFCFA5;
        background-color: #FFCFA5;
        border-right: 1px solid #949973;
        text-align: center;
    }

   .productDetail .products .product-menu div .product-description .product-specific{
    text-align: center;
   } 

   .productDetail .products .product-menu div .product-description .product-name{
       text-align: center;
   }

  @media screen and (min-width: 481px){
    .productDetail{
        background-color: #949973;
    }
      
    .productDetail article {
        display: flex;
        width: 75vw;
        align-items: center;
        margin: auto;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .productDetail article .product-menu{
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }
    
    .productDetail article .product-menu div .product-name{
        font-size: 1.3em;
        text-align: center;
        padding-top: 10%;
        align-content: center;
        height: 50%;
    }
    
    .productDetail article .product-menu div .product-description{
        display: flex;
        flex-direction: column;
        height: 85%;
        justify-content: center;
    }
    
    .productDetail article .product-menu div{
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }
    
    .productDetail article .product-menu .product-description .product-specific{
        margin: auto;
        padding: 0 5%;
        text-align: center;
        height: 80%;
    }
    
    .productDetail article .product-menu img{
        width: 300px;
        
    }
    .productDetail article .product-menu div .product-n{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #FFCFA5;
        height: 15%;
    }
    
    .productDetail article div .product-n .product-price{
        border: 1px solid #FFCFA5;
        border-right: 1px solid #949973;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
    }
    
    .productDetail article div .product-n .product-add{
        border: 1px solid #FFCFA5;
        border-left: 1px solid #949973;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
        background-color: red;
    }
}

/*Product creation //////////////////////////////////////////////////////////////////////////////////////////////////// */
.productCreation {
    text-align: center;
    background-color: #949973;
    padding: 4% 0;
    font-size: 0.7em;
}
.productCreation .form {
    width: 45%;
    margin: auto;
    background-color: #a8a69c;
    border-radius: 3%;    
    box-shadow: 3px 3px 13px 2px rgba(0,0,0,0.81);  
    padding: 2%;
}

.creation--title {
    padding-top: 20px;
    font-size: 0.8em;
}
.creation__form {
    padding: 20px;
}

.creation__form--img {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.5em;
}

.creation__form--button{
    width: 60%;
}

.creation__form--text {
    width: 90%;
}

@media (min-width: 400px) {
    .productCreation {
        font-size: 0.9em;
    }
    .creation--title {
        font-size: 1em;
    }
    .creation__form--img {
        font-size: 0.7em;
    }
}

@media (min-width: 400px) {
    .productCreation {
        font-size: 1em;
    }
    .productCreation .form {
        max-width: 500px;
    }
    .creation--title {
        font-size: 1.1em;
    }
    .creation__form--img {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.1em;
    }
}