<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Fast Food</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <section class="header__burgermenu">
            <i class="fas fa-bars"></i>
        </section>
        <section class="header__logo">Logo

        </section>
        <section class="header__shoppingcart">carrito compras

        </section>
    </header>
    <!-- Barra de navegación -->
    <nav class="nav">
        <ul class="nav__list">
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Bienvenidos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Tiendas</a></li>
        </ul>
    </nav>

    <!-- Main Home -->
    <main class="main">

        <!-- Carrusel de productos con promoción y/o los más vendios  -->
        <section class="main__carousel">Aqui va el carrusel de productos dentro del Main</section>

        <!-- Productos destacados con Scroll vertical -->
        <section class="main__featured">
            <article class="main__featuredarticle">

            </article>

            <article class="main__featuredarticle">

            </article>

            <article class="main__featuredarticle">
            </article>

        </section>
    </main>

    <footer class="footer">
        <div class="footer__top">
        </div>
        <!-- Logo de la marca -->
        <section class="footer__logo">Logo

        </section>
        <!-- Enlaces (Whatsapp, Contactos y legal)-->
        <section class="footer__connections">
            <div class="footer__connections--brand">
                <h3>Fast Food</h3>
                <ul>
                    <li><a href="#">Servicio vía Whatsapp</a></li>
                </ul>
            </div>

            <div class="footer__connections--cities">
                <h3>Contactos</h3>
                <ul>
                    <li><a href="#">Ciudad 1 número</a></li>
                    <li><a href="#">Ciudad 2 número</a></li>
                    <li><a href="#">Ciudad 3 número</a></li>
                    <li><a href="#">Ciudad 4 número</a></li>
                    <li><a href="#">Ciudad 5 número</a></li>
                </ul>
            </div>

            <div class="footer__connections--legal">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>

        </section>
        <!-- Enlaces a redes sociales-->
        <section class="footer__social">
                <p>Síguenos en Facebook e Instagram</p>
        </section>

    </footer>
</body>

</html>