*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header*/
.header{
    height: 50px;
    background-color: #006491;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__section--burgermenu{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    text-align: center;
}
.header__section--burgermenu i{
  line-height: 35px;
  font-size: larger;
}
.header__section--logo{
    height: 35px;
    width: 35px;
    outline: 1px solid white;
}
.header__section--login,
.header__section--snetwork {
    display: none;
    margin-left: 50px;
}
.header__section--shoppingcart{
    height: 35px;
    width: 35px;
    margin-top: 15px;
    /* outline: 1px solid white; */
}
.header__section--shoppingcart a i {
    color: #000000;
}

/* Nav */

.nav{
    height: 30px;
    background-color: #9D9D9D;
}
 .nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__list li{
    list-style: none;
    width: 20%;
    font-size: 1em;
    /* outline: 1px solid white; */
}
.nav__list li a{
    text-decoration: none;
    color: #000000;
}

@media (min-width: 630px) {
    .header__section--burgermenu{
        display: none;
    }
    .header__section--login {
        display: block;
        margin-left: 150px;
        margin-right: 80px;
    }
    .header__section--login a {
        color: #000000;
        text-decoration: none;
    }
    .header__section--snetwork {
        display: block;
        color: #000000;
    }
    .header__section--snetwork a {
        color: #000000;
        text-decoration: none;
    }
}

/* Main Home */
.main{
    /* outline: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.main__carousel{
    margin-top: 1rem;
    width: 75%;
    height: 350px;
    outline: 1px solid red;
}
.main__featured{
    margin-top: 2rem;
    width: 75%;
}
.main__featuredarticle{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 350px;
    outline: 1px solid blue;
}

/* Footer*/
.footer{
    background-color:#FF0000;
    outline: 3px solid blue;
    width: 100%;
    height: 340px;
}
.footer__top{
    width: 100%;
    height: 20px;
}
.footer__logo{
    height: 35px;
    width: 35px;

    margin-left: 5%;
    margin-bottom: 15px;

    background-color: white;
}
.footer__connections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
}
.footer__connections li{
    list-style: none;
}
.footer__connections li a{
    text-decoration: none;
    color: #ffffff;
}
.footer__connections--brand{
    width: 50%;
}
.footer__connections--cities{
    width: 50%;
    padding-left: 5%;
}
.footer__connections--legal{
    width: 100%;
}

.footer__social{
    margin-top: 30px;
    margin-left: 5%;
    width: 100%;
    height: 30px;
    color: white;
    font-size: larger;
    display: flex;
    position: relative;
    bottom: 20px;
}
.footer__social a {
    margin-left: 15px;
    color: #000000;
}

@media (min-width: 630px) {
    .footer {
        position: relative;
    
    }
    .footer__top {
        display: none;
    }
    .footer__logo{
        height: 25%;
        width: 25%;
    }
    .footer__connections {
        padding-left: 20%;
        position: relative;
        bottom: 50px;
        flex-wrap: nowrap;
    }
    .footer__connections--brand{
        width: 20%;
        margin-left: 150px;
    }
    .footer__connections--cities{
        width: 25%;
        margin-right: 70px;
    }
    .footer__connections--legal{
        width: 20%;
    }
}

/* Login */
.login__title {
    text-align: center;
    margin-top: 40px;
}
.login__form {
    text-align: center;
    margin: 20px;
}

.login__form--text, .login__form--button {
    width: 60vw;
}

/* Register */
.register__title {
    text-align: center;
    margin-top: 40px;
}
.register__form {
    text-align: center;
    margin: 20px;
}
.register__form--text, .register__form--button {
    width: 60vw;
}
.register__form select {
    width: 60vw;
}


 /* Product Cart */
.productCart .bar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: orange;
}

.productCart .products-resume{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
}

.productCart .total{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
}

.productCart .products-resume div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productCart .products-resume div img{
    width: 8em;
    margin: 15px;
}

.productCart .products-resume div .product-only-n{
    flex-direction: column;
    justify-items: flex-start;
    width: 50%;
    padding: 10px 0px;
}

 /* Product Detail */
.scroll-menu{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

main section .arrow{
    margin: 0px 10px; 
    
}

.productDetail article {
    display: flex;
    width: 75vw;
    align-items: center;
    margin:10px auto ;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article .product-menu{
    margin-top: 15px;
    margin-bottom: 15px;
}

.productDetail article div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article div .product-name{
    font-size: 1.3em;
    text-align: center;
    background-color: #fff;
}

.productDetail article div {
    display: flex;
    flex-direction: column;
    
}

.productDetail article div .product-n{
    flex-direction: row;
    justify-content: space-around;
    background-color: #F56D32;
}

.productDetail article div .product-n .product-price{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.productDetail article div .product-n .product-add{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}