@import url(//db.onlinewebfonts.com/c/4124a6204d35abaf22db32c19d62d73e?family=Insaniburger);
*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Insaniburger", sans-serif; 
}
/* INDEX.html//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Header*/
.header{
    height: 60px;
    background-color: #FFE459;
    color: #835D3B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__burgermenu{
    margin-left: 1.5rem;
    height: 35px;
    width: 35px;
    border: 1px solid #835D3B;
    border-radius: 25%;
    text-align: center;
}
.header__burgermenu i{
    font-size: 23px;
    line-height: 35px;
}
.header__logo{
    height: 50px;
    width: 50px;
}
.header__shoppingcart{
    height: 35px;
    width: 35px;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__shoppingcart p{
     margin-left: 5px;
}
.header__shoppingcart i{
    font-size: 14px;
}

.header__login, .header__snetwork{
    display: none;

}


/* Nav */

.nav{
    height: 30px;
    background-color: #E04A01;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .nav__list{
     display: flex;
     margin: auto;
     justify-content: space-evenly;
     text-align: center;
     width: 100%;
 }
.nav__list li{
    width: 25%;
    list-style: none;
}
.nav__list li a{
    text-decoration: none;
    color: #000000;
}

@media (min-width: 630px) {
    .header__burgermenu{
        display: none;
    }
    .header__login {
        display: block;
        margin-left: 150px;
        margin-right: 80px;
    }
    .header__login a {
        color: #000000;
        text-decoration: none;
    }
    .header__snetwork {
        display: block;
        color: #000000;
    }
    .header__snetwork a {
        color: #000000;
        text-decoration: none;
    }
}

/* Main Home */
.main{
    /* outline: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #949973;
}
.main__carousel{
    margin: 0.8rem;
}
.main__featured{
    margin-top: 2rem;
    width: 75%;
}
.main__featured-article{
    margin: 0.8rem;
}
.main-login__form--container{
    margin-top: 5px;
}
.main-login__form--container button{
    width: 100%;

    color: #403429;
    background-color: #FFCFA5;
    border: 2px solid #E8B78B;
    border-radius: 6px;
}
/* Footer*/
.footer{
    background-color:#B9CC33;
    width: 100%;
    height: 340px;
}
.footer__top{
    width: 100%;
    height: 20px;
}
.footer__logo{
    height: 80px;
    width: 80px;

    margin-left: 3%;
    margin-bottom: 10px;

    background-color: white;
}
.footer__connections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
}
.footer__connections h3{
    color: #835D3B;
}
.footer__connections li{
    list-style: none;
}
.footer__connections li a{
    text-decoration: none;
    color: #ffffff;
}
.footer__connections--brand{
    width: 50%;
}
.footer__connections--cities{
    width: 50%;
    padding-left: 5%;
}
.footer__connections--legal{
    width: 100%;
}

.footer__social{
    margin-top: 30px;
    margin-left: 5%;
    width: 100%;
    height: 30px;
    color: white;
    font-size: larger;
    display: flex;
    position: relative;
    bottom: 20px;
}
.footer__social a {
    margin-left: 15px;
    color: #000000;
}

@media (min-width: 630px) {
    .footer {
        position: relative;
    }
    .footer__top {
        display: none;
    }
    .footer__logo{
        height: 25%;
        width: 25%;
    }
    .footer__connections {
        padding-left: 20%;
        position: relative;
        bottom: 50px;
        flex-wrap: nowrap;
    }
    .footer__connections--brand{
        width: 20%;
        margin-left: 150px;
    }
    .footer__connections--cities{
        width: 25%;
        margin-right: 70px;
    }
    .footer__connections--legal{
        width: 20%;
    }
}


/* Login ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.login__title {
    text-align: center;
    margin-top: 40px;
}
.login__form {
    text-align: center;
    margin: 20px;
}

.login__form--text, .login__form--button {
    width: 60vw;
}

/* Register */
.register__title {
    text-align: center;
    margin-top: 40px;
}
.register__form {
    text-align: center;
    margin: 20px;
}
.register__form--text, .register__form--button {
    width: 60vw;
}
.register__form select {
    width: 60vw;
}


 /* ProductCart.html/////////////////////////////////////////////////////////////////////////////////////////////// */
.productCart .bar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: orange;
}

.productCart .products-resume{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
}

.productCart .total{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    width: 75vw;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 2px 17px 0px rgba(122,122,122,0.4);
}

.productCart .products-resume div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productCart .products-resume div img{
    width: 8em;
    margin: 15px;
}

.productCart .products-resume div .product-only-n{
    flex-direction: column;
    justify-items: flex-start;
    width: 50%;
    padding: 10px 0px;
}

 /* ProductDetail.html///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.scroll-menu{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

main section .arrow{
    margin: 0px 10px;
}

.productDetail article {
    display: flex;
    width: 75vw;
    align-items: center;
    margin:10px auto ;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article .product-menu{
    margin-top: 15px;
    margin-bottom: 15px;
}

.productDetail article div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article div .product-name{
    font-size: 1.3em;
    text-align: center;
    background-color: #fff;
}

.productDetail article div {
    display: flex;
    flex-direction: column;
}

.productDetail article div .product-n{
    flex-direction: row;
    justify-content: space-around;
    background-color: #F56D32;
}

.productDetail article div .product-n .product-price{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.productDetail article div .product-n .product-add{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
