
    <footer class="footer">
        <div class="footer__top">
        </div>
        <!-- Logo de la marca -->
        <section class="footer__logo">
            <a href="/"><img src="/img/Logo-Fast-Food-Footer.png" alt="Logo"></a>
        </section>
        <!-- Enlaces (Whatsapp, Contactos y legal)-->
        <section class="footer__connections">
            <div class="footer__connections--brand">
                <h3>Fast Food</h3>
                <ul>
                    <li><a href="#">Servicio vía Whatsapp</a></li>
                </ul>
            </div>

            <div class="footer__connections--cities">
                <h3>Contactos</h3>
                <ul>
                    <li><a href="#">Bogotá (601) 7050505</a></li>
                    <li><a href="#">Medellin (604) 3106810</a></li>
                    <li><a href="#">Pereira (606) 8962222</a></li>
                    <li><a href="#">Barranquilla (605) 36110406</a></li>
                    <li><a href="#">Cali (602) 6082770027</a></li>
                </ul>
            </div>

            <div class="footer__connections--legal">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>

        </section>
        <!-- Enlaces a redes sociales-->
        <section class="footer__social">
            <p>Síguenos <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i
                    class="fab fa-twitter"></i></p>
        </section>

    </footer>