<header class="header">
    <section class="header-mobile" id="prueba">
        <article class="header__burgermenu" >
            <i class="fas fa-bars header__burgermenu__select" ></i>
        </article>
        <article class="header__logo">
            <a href="/"><img src="../img/Logo-Fast-Food.png" alt=""></a>
        </article>
        <article class="header__shoppingcart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </article>

    </section>
    <section id='menu-lateral' class="header-mobile-touch header-mobile-touch-close">
        <div class="header-mobile-touch__x">X</div>
        <% if(!locals.isLogged){ %>
            <p><a href="/login"><i class="fas fa-user"></i> Iniciar Sesión</a></p>
            <p><a href="/register"><i class="far fa-list-alt"></i> Registrarse</a></p>
            <%} else{ %>
                <div class="user__logged">
                    <p><a class="logout" href="/profile"><i class="fas fa-user"></i>Perfil</a> </p>
                    
                    <p><a class="logout" href="/logOut"><i class="fas fa-user"></i> Cerrar Sesión</a></p>
                </div>
                <% } %>
                <p class="menu-lateral-brands">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </p>
    </section>
    <section class="header-pc">
        <article class="header-pc__logo">
            <a href="/"><img src="../img/Logo-Fast-Food.png" alt=""></a>
        </article>
        <article class="header-pc__content">
            <div class="header-pc__content--users">
                <% if(!locals.isLogged){ %>
                    <a href="/login"><i class="fas fa-user"></i> Iniciar Sesión</a>
                    <a href="/register"><i class="far fa-list-alt"></i> Registrarse</a>
                    <%} else{ %>
                        <div class="user__logged">
                            <a class="logout" href="/profile"><i class="fas fa-user"></i>Perfil</a>
                            <div class="user--img">
                                <a href="/profile">
                                    <img class="user__img"
                                        src="../img/users/<%= locals.userInSession.fk_idImage_image.name %> ">
                                </a>
                            </div>
                            <a class="logout" href="/logOut"><i class="fas fa-user"></i> Cerrar Sesión</a>
                        </div>
                        <% } %>
            </div>
            <div class="header-pc__content--shoppingcart">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i> Carrito</a>
            </div>

            <div class="header-pc__content--socialnetworks">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </article>

    </section>





    <!--
        <article class="header__burgermenu">
            <i class="fas fa-bars"></i>
        </article>
        <article class="header__logo">
            <a href="/"><img src="../img/Logo-Fast-Food.png" alt=""></a>
        </article>
        <article class="header__login">
            <i class="fas fa-user"></i>
            <a href="/login">Iniciar Sesión</i></a>
            <i class="far fa-list-alt"></i>
            <a href="/register">Registrarse</i></a>
        </article>
        <article class="header__shoppingcart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <article class="header__snetwork">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
        </article> -->

        <script src="/js/headerLogic.js"></script>

</header>