<header class="header">

        <article class="header__burgermenu">
            <i class="fas fa-bars"></i>
        </article>
        <article class="header__logo">
            <a href="/"><img src="../img/Logo-Fast-Food.png" alt=""></a>
        </article>
        <article class="header__login">
            <i class="fas fa-user"></i>
            <a href="/login">Iniciar Sesión</i></a>
            <i class="far fa-list-alt"></i>
            <a href="/register">Registrarse</i></a>
        </article>
        <article class="header__shoppingcart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <article class="header__snetwork">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
        </article>



</header>