<nav class="nav">
    <ul class="nav__list">
        <% if(locals.isLogged == false || locals.userInSession.rol == 1) {%>
        <li><a href="/promotions">Promociones</a></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/productList">Productos</a></li><!--Productos-->
        <li><a href="/store">Tiendas</a></li><!--Tiendas-->
         <%}%>

        <% if(locals.isLogged == true && locals.userInSession.rol == 9) {%>
            <li><a href="#">Promociones</a></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productList">Productos</a></li>
            <li><a href="/productCreation">Crear Productos</a></li><!--Productos-->
            <li><a href="/admin">Administrar</a></li><!--Tiendas-->

            <%}%>
    </ul>
</nav>