<nav class="nav">
    <ul class="nav__list">
        <li><a href="#">Promociones</a></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="/productCreation">Crear Producto</a></li><!--Productos-->
        <li><a href="/users">Usuarios</a></li><!--Tiendas-->
    </ul>
</nav>