*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header*/
.header{
    height: 50px;
    background-color: #006491;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__burgermenu{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    text-align: center;
}
.header__burgermenu i{
  line-height: 35px;
  font-size: larger;
}
.header__logo{
    height: 35px;
    width: 35px;
    outline: 1px solid white;
}
   .header__shoppingcart{
    height: 35px;
    width: 35px;
    /* outline: 1px solid white; */
}

/* Nav */

.nav{
    height: 30px;
    background-color: #9D9D9D;
}
 .nav__list{
    display: flex;
    justify-content: space-evenly;
}
.nav__list li{
    list-style: none;
    /* outline: 1px solid white; */
}
.nav__list li a{
    text-decoration: none;
    color: #000000;
}


/* Main Home */
.main{
    /* outline: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.main__carousel{
    margin-top: 1rem;
    width: 350px;
    height: 350px;
    outline: 1px solid red;

}
.main__featured{
    margin-top: 2rem;
}
.main__featuredarticle{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 350px;
    height: 350px;
    outline: 1px solid blue;
}

/* Footer*/
.footer{
    background-color:#FF0000;
    outline: 3px solid blue;
    width: 100%;
    height: 340px;
}
.footer__top{
    width: 100%;
    height: 20px;
}
.footer__logo{
    height: 35px;
    width: 35px;

    margin-left: 5%;
    margin-bottom: 15px;

    background-color: white;
}
.footer__connections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
}
.footer__connections li{
    list-style: none;
}
.footer__connections li a{
    text-decoration: none;
    color: #ffffff;
}
.footer__connections--brand{
    width: 50%;
}
.footer__connections--cities{
    width: 50%;
    padding-left: 5%;
}
.footer__connections--legal{
    width: 100%;
}

.footer__social{
    margin-top: 30px;
    margin-left: 5%;
    width: 100%;
    height: 30px;
    color: white;
    font-size: larger;
}


/* Login */


 /* Product Cart */
.productCart .bar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: orange;
}



 /* Product Detail */
.scroll-menu{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

main section .arrow{
    margin: 0px 10px; 
    
}

.productDetail article {
    display: flex;
    width: 75vw;
    align-items: center;
    margin:10px auto ;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article .product-menu{
    margin-top: 15px;
    margin-bottom: 15px;
}

.productDetail article div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productDetail article div {
    display: flex;
    flex-direction: column;
    
}

.productDetail article div .product-n{
    flex-direction: row;
    justify-content: space-around;
    background-color: #F56D32;
}

.productDetail article div .product-n .product-price{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.productDetail article div .product-n .product-add{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}


 /* Register */