body{
    background-color: #fff;
}
header{
    background-color: #Ffc000;
    display: inline-block;
    height: 140px;
    width: 100%;
    margin: 0px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #fff;
    display: inline-block;
    text-align: left;
    left: 100px;
    background-color: red;
}

.navegacion{
   display: inline-block;
}

.nav-user{
    display: inline-block;
    justify-self: right;
}