<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>

            <main>
                <section class="about">
                    <figure class="about--img">
                        <img src="/img/Fast-Food-About.jpg" alt="">
                    </figure>
                    <h2>Te queremos contar un poco más sobre nosotros, Fast Food.</h2>
                    <figure class="about--img">
                        <img src="/img/Fast-Food-About-2.jpg" alt="">
                    </figure>
                    <p>Nacimos en 2021 en Bogotá, iniciando operaciones con la inauguración de nuestro primer restaurante de comida casual de autoservicio. Adoptamos un estilo bastante original para la decoración de nuestros puntos, hoy por hoy nos inclinamos por tendencias vanguardistas y un estilo moderno, donde siempre podrás sentirte como en casa, pues siempre hemos pensado que un espacio atractivo es fundamental para que tu visita sea más agradable. Somos amantes de las experiencias indulgentes y de la provocación, queremos que nuestros invitados siempre puedan deleitarse y disfrutar en cada una de sus visitas con sus amigos, familias, compañeros de trabajo, entre otros. En nuestros restaurantes puedes recargar energías, premiar tus victorias y sobre todo crear momentos, costumbres y recuerdos con quien decidas visitarnos.</p>
                    <p>El capital humano de Fast Food, es la fuente de nuestra fortaleza corporativa, por su compromiso, profesionalismo y dedicación; factores determinantes de nuestro crecimiento y éxito en la industria.</p>
                    <p>Desde que inauguramos el primer restaurante, nuestro compromiso ha sido satisfacer tus gustos, expectativas y necesidades con una excelente calidad. Siendo expertos en hamburguesas y brindando nuevos sabores en cada producto que creamos para ti. Por esta razón, utilizamos materias primas seleccionadas, para la preparación de nuestros alimentos.</p>
                    <p>En estos más de 7 meses hemos querido llevar La Receta Original a más lugares en el mundo y nos encontramos como modelo de franquicia en nuestro país vecino Ecuador.</p>
                    <h3>¿Quiénes son nuestros clientes?</h3>
                    <p>Nuestra razón de ser, amantes de nuevas experiencias. Les gusta que pongan a prueba sus sentidos, que los provoquen y deleiten con deliciosos sabores, disfrutando cada sorbo y cada mordisco. Les gusta darse gusto y premiarse con lo que más les gusta.</p>
                    <h3>¿Cuáles son nuestros beneficios?</h3>
                    <p><b>Beneficios funcionales,</b> donde encontramos variedad, contamos con un menú bastante amplio para todos los gustos. Eficiencia, nuestra practicidad es fundamental pero sin descuidar ningún detalle. Consistencia, el sabor de nuestros productos siempre será el mismo. Espacios trendy, nuestros restaurantes son modernos, acogedores, tranquilos y seguros. Trazabilidad, brindamos información precisa y clara del origen de nuestros ingredientes. Capilaridad, estamos presentes a lo largo del país para que puedas darte gusto en cualquier lugar.</p>
                    <p><b>Beneficios emocionales,</b> porque somos “La Combinación Perfecta”, la muestra de amor contigo mismo y con los demás. Somos Cómplices, todos disfrutan de lo que más les gusta. Facilitamos la vida, te damos eso que tanto quieres. Somos una extensión del hogar, recuerdos en familia, rituales con amigos y momentos en pareja, eso obtienes en Fast Food.</p>
                </section>

            </main>
                <!--Footer-->
                <%- include('../partials/footer') %>
                <script src="/js/validationLogin.js"></script>
    </body>

</html>