<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>

            <main class="promotions">

                <h2>Promociones activas</h2>
                <div class="promotions-container">
                    <figure class="about--img">
                        <img src="/img/promotions/IMG_5883.PNG" alt="">
                    </figure>
                    <p>Realiza un pedido a traves de rappi usando el código encasa3608 y disfruta del 50% off para tu primer pedido en Fast Food</p>
                </div>

                <div class="promotions-container">
                    <figure class="about--img">
                        <img src="/img/promotions/IMG_5884.PNG" alt="">
                    </figure>
                    <p>Corre y aprovecha de 2 hamburguesas Red Pepper más papas fritas por $25.000 disponible en todos nuestros puntos a nivel nacional</p>
                </div>
                
                <div class="promotions-container">
                    <figure class="about--img">
                        <img src="/img/promotions/IMG_5880.PNG" alt="">
                    </figure>
                    <p>Durante todo el mes de marzo disfruta de un 4X3 en todas nuestras cervezas BBC en cualquiera de nuestros puntos de venta a nivel nacional</p>
                </div>

                <div class="promotions-container">
                    <figure class="about--img">
                        <img src="/img/promotions/IMG_5882.PNG" alt="">
                    </figure>
                    <p>Durante todo el mes de marzo aprovecha nuestra Happy Hour entre 5 y 6 pm con 2x1 en cualquiera de nuestros puntos de venta a nivel nacional</p>
                </div>

                <div class="promotions-container">
                    <figure class="about--img">
                        <img src="/img/promotions/IMG_5881.PNG" alt="">
                    </figure>
                    <p>Aprovecha y antojate con nuestro 20% de descuento en nuestra carta de asados y ahumados en cualquiera de nuestros puntos de venta a nivel nacional entre 12pm y 4pm</p>
                </div>

               
            </main>
            <!--Footer-->
            <%- include('../partials/footer') %>
            <script src="/js/validationLogin.js"></script>
</body>

</html>